1. Indica un ejemplo de un tipo de dato:

enter

flotan
e
str
ng
booleano

In [2]:
entero = 4
print(entero)
print(type(entero))

flotante = 4.55
print(flotante)
print(type(flotante))

string = "hola"
print(string)
print(type(string))

booleano = True
print(booleano)
print(type(booleano))

4
<class 'int'>
4.55
<class 'float'>
hola
<class 'str'>
True
<class 'bool'>

2. Crea dos variables que se llamen nombre y apellido, en ellas introduce tu nombre y apellidos y luego prueba lo siguiente e indica el resultado:
nombre + apellido
nombre + apellido + "."
nombre * 3

In [6]:
nombre = "Santiago"
apellido = "Souza"
print(nombre, apellido)
print(nombre, apellido, end = ".\n")
print(nombre * 3)

Santiago Souza
Santiago Souza.
SantiagoSantiagoSantiago

3. Retoma el ejercicio anterior, crea una variable que se llame nombreCompleto que una tu nombre y tu apellido con un espacio en el medio. Sobre esta variable, ¿eres capaz a extraer tu nombre utilizando slicing?

In [15]:
nombreCompleto = nombre + " " + apellido 
print(nombreCompleto)
soloApellido = nombreCompleto[8:]
print(soloApellido)

Santiago Souza
 Souza

4. Busca en la documentación la forma correcta de redondear el siguiente resultado a tan solo 2 decimales: operacion = (365 / 12) * 14.7

In [17]:
operacion = (365 / 12) * 14.7
print(operacion)
operacionRedondeada = round(operacion, 2)
print(operacionRedondeada)

447.125
447.12

5. Crea dos variables que almacenen 2 strings (username y password). Realizar las siguientes comprobaciones utilizando operadores lógicos:
Que la longitud de username sea mayor o igual que tres y menor que diez
Que la password sea igual a "CEMP" o que sea igual a "Python".
La salida por pantalla tiene que ser:
Username: True o False (según se haya evaluado)
Password: True o False (según se haya evaluado)

In [31]:
username = "santiago"
password = "CEMP"
print("Username:", len(username) >= 3 and len(username) < 10)
print("Password:", password == "CEMP")

Username: True
Password: True

6. Practiquemos con los operadores de asignación (=, +=, *=, etc.):
Crea dos variables y asígnales los números que quieras
Increméntale a num1 su valor en 1
Decrementale a num2 su valor en 2
Multiplica num1 por 3 y actualiza su valor
Divide num2 por 2 y actualiza su valor
Muestra los resultados

In [34]:
num1 = 1
num2 = 2
print(num1)
print(num2)
num1 += 1
num2 += 2
print(num1)
print(num2)
num1 *= 3
num2 /= 2
print(num1)
print(num2)

1
2
2
4
6
2.0

7. Utiliza el método input() para realizar las siguientes tareas:
Pide un número por teclado, muestra el resultado y su tipo (para conocer en qué tipo de dato captura la información input())
Pide un número por teclado y asegúrate de que capturemos la información en formato int
Pide un número por teclado y asegúrate de que capturemos la información en formato float Comprobar con type que los datos son del tipo correcto

numero1 = input("1. Ingresa un numero: ")
print(numero1)
print(type(numero1))

numero2 = int(input("2. Ingresa un numero: "))
print(numero2)
print(type(numero2))

numero3 = float(input("3. Ingresa un numero: "))
print(numero3)
print(type(numero3))

8. Vamos a formatear números:
Pide un numero entero por teclado
Muéstralo con el formato de 5 dígitos rellenos con 0s por delante
Pide un número flotante por teclado
Muéstralo con 5 dígitos para la parte entera y 3 dígitos para la parte decimal

In [43]:
numero1 = int(input("1. Ingresa un numero entero: "))
print("{:05d}".format(numero1))

numero2 = float(input("1. Ingresa un numero flotante: "))
print("{:09.3f}".format(numero2))

1. Ingresa un numero entero:  2

00002

1. Ingresa un numero flotante:  2.32323

00002.323

9. Vamos a ponernos creativos. ¿Cuántas formas tienes de mostrar esta información?
La altura es de 1,80 metros y el peso es de 80,135 KG
Siendo la altura y el peso dos variables que se recojan con 2 inputs
Pista: format() se puede usar de varias formas .

In [51]:
altura = float(input("Ingresa la altura: "))
peso = float(input("Ingresa el peso: "))
print("La altura es de", "{:04.2f}".format(altura), "metros y el peso es de", "{:05.3f}".format(peso), "KG")

Ingresa la altura:  1.80
Ingresa el peso:  80.135

La altura es de 1.80 metros y el peso es de 80.135 KG